* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
}

#main {
    width: 100%;
    overflow: hidden; 
}
#page {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(179, 153, 153);
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: rgb(15, 190, 225);
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: rgb(79, 21, 196);
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: rgb(45, 197, 162);
}

canvas {
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover; 
}
